################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C# 12/Chapter 1/SampleSumCalculator/.vs
/C# 12/Chapter 1/SampleSumCalculator/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator/obj
/C# 12/Chapter 1/SampleSumCalculator.Tests/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator.Tests/obj
/C# 12/Chapter 3/EFCoreCodeFirst/obj
/C# 12/Chapter 3/EFCoreDatabaseFirst/.vs
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/bin/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj
/C# 12/Chapter 8/SampleBlazorApp/.vs
/C# 12/Chapter 8/SampleBlazorApp/bin/Debug/net7.0
/C# 12/Chapter 8/SampleBlazorApp/obj
/C# 12/Chapter 9/WebAPPSignalR/.vs
/C# 12/Chapter 9/WebAPPSignalR/bin/Debug/net7.0
/C# 12/Chapter 9/WebAPPSignalR/obj
