################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C# 12/Chapter 1/SampleSumCalculator/.vs
/C# 12/Chapter 1/SampleSumCalculator/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator/obj
/C# 12/Chapter 1/SampleSumCalculator.Tests/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator.Tests/obj
/C# 12/Chapter 3/EFCoreCodeFirst/obj
/C# 12/Chapter 3/EFCoreDatabaseFirst/.vs
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/bin/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj
/C# 12/Chapter 8/SampleBlazorApp/.vs
/C# 12/Chapter 8/SampleBlazorApp/bin/Debug/net7.0
/C# 12/Chapter 8/SampleBlazorApp/obj
/C# 12/Chapter 9/WebAPPSignalR/.vs
/C# 12/Chapter 9/WebAPPSignalR/bin/Debug/net7.0
/C# 12/Chapter 9/WebAPPSignalR/obj
/C# 12/Chapter 10/BFFOne/bin/Debug/net7.0
/C# 12/Chapter 10/BFFOne/obj
/C# 12/Chapter 10/BFFTwo/bin/Debug/net7.0
/C# 12/Chapter 10/BFFTwo/obj
/C# 12/Chapter 10/EventProcessor/bin/Debug/net7.0
/C# 12/Chapter 10/EventProcessor/obj
/C# 12/Chapter 10/MicroServiceWebAPI/.vs/MicroServiceWebAPI
/C# 12/Chapter 10/MicroServiceWebAPI/bin/Debug/net7.0
/C# 12/Chapter 10/MicroServiceWebAPI/obj/Debug/net7.0
/C# 12/Chapter 10/MicroServiceWebAPI/obj
/C# 12/Chapter 10/MicroServiceWebAPI/.vs/ProjectEvaluation
/C# 12/Chapter 11/BFFOne/obj/Debug/net7.0
/C# 12/Chapter 11/BFFOne/obj
/C# 12/Chapter 11/BFFTwo/obj
/C# 12/Chapter 11/EventProcessor/obj/Debug/net7.0
/C# 12/Chapter 11/EventProcessor/obj/Release/net7.0
/C# 12/Chapter 11/EventProcessor/obj
/C# 12/Chapter 11/MicroServiceWebAPI/.vs
/C# 12/Chapter 11/MicroServiceWebAPI/obj/Debug/net7.0
/C# 12/Chapter 11/MicroServiceWebAPI/obj/Release/net7.0
/C# 12/Chapter 11/MicroServiceWebAPI/obj
/C# 12/Chapter 11/WebAPPSignalR/.vs
/C# 12/Chapter 11/WebAPPSignalR/obj/Debug/net7.0
/C# 12/Chapter 11/WebAPPSignalR/obj/Release/net7.0
/C# 12/Chapter 11/WebAPPSignalR/obj
/C# 12/Chapter 5/AzureDatabases/.vs
/C# 12/Chapter 5/AzureDatabases/BlobStorageWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/BlobStorageWebApp/obj
/C# 12/Chapter 5/AzureDatabases/CosmosDBWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/CosmosDBWebApp/obj
/C# 12/Chapter 5/AzureDatabases/SqlServerWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/SqlServerWebApp/obj
/C# 12/Chapter 6/Chapter6/.vs/Chapter6
/C# 12/Chapter 6/Chapter6/AzSBBatchConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzSBBatchConsumer/obj
/C# 12/Chapter 6/Chapter6/AzSBTopicConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzSBTopicConsumer/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBus/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBus/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumer/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerFour/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerFour/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerThree/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerThree/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerTwo/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerTwo/obj
