################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C# 12/Chapter 1/SampleSumCalculator/.vs
/C# 12/Chapter 1/SampleSumCalculator/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator/obj
/C# 12/Chapter 1/SampleSumCalculator.Tests/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculator.Tests/obj
/C# 12/Chapter 3/EFCoreCodeFirst/obj
/C# 12/Chapter 3/EFCoreDatabaseFirst/.vs
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj/Debug/net7.0
/C# 12/Chapter 3/EFCoreDatabaseFirst/obj
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/bin/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj/Debug/net7.0
/C# 12/Chapter 3/WebAppEFCoreCodeFirst/obj
/C# 12/Chapter 8/SampleBlazorApp/.vs
/C# 12/Chapter 8/SampleBlazorApp/bin/Debug/net7.0
/C# 12/Chapter 8/SampleBlazorApp/obj
/C# 12/Chapter 9/WebAPPSignalR/.vs
/C# 12/Chapter 9/WebAPPSignalR/bin/Debug/net7.0
/C# 12/Chapter 9/WebAPPSignalR/obj
/C# 12/Chapter 10/BFFOne/bin/Debug/net7.0
/C# 12/Chapter 10/BFFOne/obj
/C# 12/Chapter 10/BFFTwo/bin/Debug/net7.0
/C# 12/Chapter 10/BFFTwo/obj
/C# 12/Chapter 10/EventProcessor/bin/Debug/net7.0
/C# 12/Chapter 10/EventProcessor/obj
/C# 12/Chapter 10/MicroServiceWebAPI/.vs/MicroServiceWebAPI
/C# 12/Chapter 10/MicroServiceWebAPI/bin/Debug/net7.0
/C# 12/Chapter 10/MicroServiceWebAPI/obj/Debug/net7.0
/C# 12/Chapter 10/MicroServiceWebAPI/obj
/C# 12/Chapter 10/MicroServiceWebAPI/.vs/ProjectEvaluation
/C# 12/Chapter 11/BFFOne/obj/Debug/net7.0
/C# 12/Chapter 11/BFFOne/obj
/C# 12/Chapter 11/BFFTwo/obj
/C# 12/Chapter 11/EventProcessor/obj/Debug/net7.0
/C# 12/Chapter 11/EventProcessor/obj/Release/net7.0
/C# 12/Chapter 11/EventProcessor/obj
/C# 12/Chapter 11/MicroServiceWebAPI/.vs
/C# 12/Chapter 11/MicroServiceWebAPI/obj/Debug/net7.0
/C# 12/Chapter 11/MicroServiceWebAPI/obj/Release/net7.0
/C# 12/Chapter 11/MicroServiceWebAPI/obj
/C# 12/Chapter 11/WebAPPSignalR/.vs
/C# 12/Chapter 11/WebAPPSignalR/obj/Debug/net7.0
/C# 12/Chapter 11/WebAPPSignalR/obj/Release/net7.0
/C# 12/Chapter 11/WebAPPSignalR/obj
/C# 12/Chapter 5/AzureDatabases/.vs
/C# 12/Chapter 5/AzureDatabases/BlobStorageWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/BlobStorageWebApp/obj
/C# 12/Chapter 5/AzureDatabases/CosmosDBWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/CosmosDBWebApp/obj
/C# 12/Chapter 5/AzureDatabases/SqlServerWebApp/bin/Debug/net7.0
/C# 12/Chapter 5/AzureDatabases/SqlServerWebApp/obj
/C# 12/Chapter 6/Chapter6/.vs/Chapter6
/C# 12/Chapter 6/Chapter6/AzSBBatchConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzSBBatchConsumer/obj
/C# 12/Chapter 6/Chapter6/AzSBTopicConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzSBTopicConsumer/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBus/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBus/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumer/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumer/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerFour/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerFour/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerThree/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerThree/obj
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerTwo/bin/Debug/net7.0
/C# 12/Chapter 6/Chapter6/AzureServiceBusConsumerTwo/obj
/C# 12/Chapter 7/KeyVaultWebApp/.vs
/C# 12/Chapter 7/KeyVaultWebApp/bin/Debug/net7.0
/C# 12/Chapter 7/KeyVaultWebApp/obj
/C# 12/Chapter 6/Chapter6/.vs/ProjectEvaluation
/C# 12/Chapter 12/MauiApp/.vs
/C# 12/Chapter 12/MauiApp/obj
/C# 12/Chapter 12/SampleMauiApp/bin/Debug
/C# 12/Chapter 12/SampleMauiApp/obj
/C# 12/Chapter 13/WinUISampleProject/.vs/WinUISampleProject
/C# 12/Chapter 13/WinUISampleProject/bin/x86/Debug
/C# 12/Chapter 13/WinUISampleProject/obj
/C# 12/Chapter 14/SampleSumCalculator/.vs/SampleSumCalculator
/C# 12/Chapter 14/SampleSumCalculator/bin/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculator/obj/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculator/obj/Release/net7.0
/C# 12/Chapter 14/SampleSumCalculator/obj
/C# 12/Chapter 14/SampleSumCalculator.Tests/bin/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculator.Tests/obj/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculator.Tests/obj/Release/net7.0
/C# 12/Chapter 14/SampleSumCalculator.Tests/obj
/C# 12/Chapter 14/SampleSumCalculatorXUnit/bin/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculatorXUnit/obj/Debug/net7.0
/C# 12/Chapter 14/SampleSumCalculatorXUnit/obj
/C# 12/Chapter 1/SampleSumCalculatorXUnit/bin/Debug/net7.0
/C# 12/Chapter 1/SampleSumCalculatorXUnit/obj
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/@jest/types
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/@types
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/abort-controller
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ansi-regex
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ansi-styles
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/chalk
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/color-convert
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/color-name
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/diff-sequences
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/event-target-shim
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/eventsource
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/fetch-cookie
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/has-flag
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/jest-diff
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/jest-get-type
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/node-fetch
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/pretty-format
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/process
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/psl
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/punycode
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/querystringify
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/react-is
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/requires-port
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/set-cookie-parser
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/supports-color
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tough-cookie
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/.npmignore
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/index.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/lib
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/lib/.gitkeep
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/lib/mappingTable.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/tr46/package.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/universalify
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/universalify/index.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/universalify/LICENSE
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/universalify/package.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/universalify/README.md
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/dist
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/dist/url-parse.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/dist/url-parse.min.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/dist/url-parse.min.js.map
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/index.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/LICENSE
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/package.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/url-parse/README.md
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions/lib
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions/lib/index.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions/LICENSE.md
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions/package.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/webidl-conversions/README.md
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib/public-api.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib/URL-impl.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib/url-state-machine.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib/URL.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/lib/utils.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/LICENSE.txt
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/package.json
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/whatwg-url/README.md
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/buffer-util.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/constants.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/event-target.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/extension.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/limiter.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/permessage-deflate.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/receiver.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/sender.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/stream.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/validation.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/websocket-server.js
/C# 12/Chapter 9/WebAPPSignalR/wwwroot/lib/microsoft/signalr/node_modules/ws/lib/websocket.js
